@use "@scss/framework/_var/_vars.scss" as *;

$height-values: (
    100: 100%,
    75: 75%,
    50: 50%,
    25: 25%,
    auto: auto, 
);

$height-breakpoints: (
    all: $all,
    desktop: $desktop,
    laptop: $laptop,
    tabletl: $tabletl,
    tabletm: $tabletm,
    tablets: $tablets,
    mobile: $mobile,
);

@mixin height-utility($height-prop, $breakpoints) {
    @each $breakpoint-name, $breakpoint-value in $breakpoints {
        @if ($breakpoint-value == 0) {
            @each $name, $property in $height-prop {
                .u--height-#{$name} {
                    height: $property;
                }
            }
        } @else {
            @media screen and ($viewport-type: $breakpoint-value) {
                @each $name, $property in $height-prop {
                    .u--height-#{$breakpoint-name}-#{$name} {
                        height: $property;
                    }
                }
            }
        }
    }
}

@if variable-exists(height-breakpoints) {
    @include height-utility($height-values, $height-breakpoints);
  }
@else {
    @include height-utility($height-values, $breakpoints-grid);
}