$font-weight-values: (
  thin: 100,
  extralight: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
);

@mixin font-weight-utility($font-weight-prop, $breakpoints) {
  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    @if ($breakpoint-value == 0) {
      @each $name, $property in $font-weight-prop {
        .u--font-weight-#{$name} {
          font-weight: $property;
        }
      }
    } @else {
      @media screen and ($viewport-type: $breakpoint-value) {
        @each $name, $property in $font-weight-prop {
          .u--font-weight-#{$breakpoint-name}-#{$name} {
            font-weight: $property;
          }
        }
      }
    }
  }
}

@include font-weight-utility($font-weight-values, $breakpoints-grid);